
.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #17b3ab7c;
    transition: 0.5px;
    padding: 20px;
}
.container#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
